<div class="row">
	<div class="col-xs-10 col-xs-push-1">
		<h1>About</h1>
		<hr>
		<p>BayToday is your local online news service for everything Bay Area. In an age of corporate dominace over the news media landscape, there are fewer and fewer outlets that practice truly independent journalism. At BayToday we try to correct this problem to the best of our abilities. From local politics to issues that impact our shared community, BayToday aims to deliver you the stories you will not hear on national news. As the line between our governement and our media becomes more and more blurry, we aim to maintain a level of independence and thoughtfulness that our readers deserve.
		<br><br>
		BayToday was founded in 2015. Our headquarters are in Oakland, California. We are constantly envolving and love to hear from our readers. If you would like to reach out to us, you may do so through our contact page, found here.</p> 
		<br><br><br><br> 
	</div>
</div>