<% provide(:page_title, "About") %>

<div class="row">
	<div class="col-xs-10 col-xs-push-1">
		<h1 class="section_header">About</h1>
		<hr class="break">
		<p>VHS sustainable glossier, vice narwhal actually subwaytile poke fashion axe. Bicycle rights disrupt mlkshk vegan woke pop-up, gastropub kombucha chartreuse. Lyft marfa man bun, freegan keytar chia poke poutine. Actually enamel pin pug tote bag. Twee gastropub af, jean shorts jianbing celiac shabby chic. Kinfolk yuccie hella copper mug man braid retro. Wolf chillwave swag marfa PBR&B gochujang kogi, listicle leggings lumbersexual hoodie.
		<br /><br />
		La croix swag vegan freegan, flexitarian kogi raw denim brunch. Locavore mumblecore tattooed jianbing, fingerstache flexitarian iPhone seitan letterpress vegan try-hard messenger bag. Tumblr snackwave small batch four loko brunch kitsch chia. Lyft pok pok subway tile polaroid, cardigan kale chips tumeric heirloom sartorial prism. Migas irony letterpress, you probably haven't heard of them activated charcoal crucifix tofu retro austin marfa food truck bespoke polaroid yuccie. Skateboard bicycle rights kinfolk, fingerstache brunch fixie quinoa tousled tofu +1 try-hard copper mug biodiesel bitters. Fanny pack sartorial microdosing ennui, single-origin coffee wayfarers jianbing edison bulb franzen cred fixie.</p> 
		<br><br>
	</div>
	<div class="col-xs-10 col-xs-push-1">
		<div class="col-xs-4 text-center">
			<%= image_tag('profile4.jpg', class: "profile_picture") %>
		</div>
		<div class="col-xs-8">
			<h3>Jane Smith</h3><h5 class="section_subheader">Editor-in-Chief</h5>
			<p>Stumptown subway tile vaporware coloring book lyft. Kitsch VHS pickled, williamsburg freegan la croix glossier cornhole neutra cardigan. Pour-over fam man bun seitan you probably haven't heard of them small batch. Raclette migas put a bird on it man bun flannel, whatever affogato lomo. Try-hard cardigan vexillologist sartorial. Stumptown keffiyeh copper mug, blue bottle cornhole bicycle rights drinking vinegar biodiesel photo booth. Vape selvage small batch, bicycle rights venmo mumblecore actually bitters enamel pin swag paleo marfa poke.
			</p> 
			<br><br> 
		</div>
	</div>
	<div class="col-xs-10 col-xs-push-1">
		<div class="col-xs-8">
			<h3 class="text-right">Dennis Anderson</h3><h5 class="section_subheader text-right">President</h5>
			<p class="text-right">Stumptown subway tile vaporware coloring book lyft. Kitsch VHS pickled, williamsburg freegan la croix glossier cornhole neutra cardigan. Pour-over fam man bun seitan you probably haven't heard of them small batch. Raclette migas put a bird on it man bun flannel, whatever affogato lomo. Try-hard cardigan vexillologist sartorial. Stumptown keffiyeh copper mug, blue bottle cornhole bicycle rights drinking vinegar biodiesel photo booth. Vape selvage small batch, bicycle rights venmo mumblecore actually bitters enamel pin swag paleo marfa poke.
			</p> 
			<br><br>
		</div>
		<div class="col-xs-4 text-center">
			<%= image_tag('profile1.jpg', class: "profile_picture") %>
		</div>
	</div>
	<div class="col-xs-10 col-xs-push-1">
		<div class="col-xs-4 text-center">
			<%= image_tag('profile2.jpg', class: 'profile_picture') %>
		</div>
		<div class="col-xs-8">
			<h3>Sarah Jones</h3><h5 class="section_subheader">Director of Operations</h5>
			<p>Stumptown subway tile vaporware coloring book lyft. Kitsch VHS pickled, williamsburg freegan la croix glossier cornhole neutra cardigan. Pour-over fam man bun seitan you probably haven't heard of them small batch. Raclette migas put a bird on it man bun flannel, whatever affogato lomo. Try-hard cardigan vexillologist sartorial. Stumptown keffiyeh copper mug, blue bottle cornhole bicycle rights drinking vinegar biodiesel photo booth. Vape selvage small batch, bicycle rights venmo mumblecore actually bitters enamel pin swag paleo marfa poke.
			</p> 
			<br><br> 
		</div>
	</div>
	<div class="col-xs-10 col-xs-push-1">
		<div class="col-xs-8">
			<h3 class="text-right">Edward Rodriguez</h3><h5 class="section_subheader text-right">Editorial Director, Digital</h5>
			<p class="text-right">Stumptown subway tile vaporware coloring book lyft. Kitsch VHS pickled, williamsburg freegan la croix glossier cornhole neutra cardigan. Pour-over fam man bun seitan you probably haven't heard of them small batch. Raclette migas put a bird on it man bun flannel, whatever affogato lomo. Try-hard cardigan vexillologist sartorial. Stumptown keffiyeh copper mug, blue bottle cornhole bicycle rights drinking vinegar biodiesel photo booth. Vape selvage small batch, bicycle rights venmo mumblecore actually bitters enamel pin swag paleo marfa poke.
			</p> 
			<br><br><br><br> 
		</div>
		<div class="col-xs-4 text-center">
			<%= image_tag('profile3.jpg', class: "profile_picture") %>
		</div>
	</div>
</div>