/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$dark_gray: #2f2f2f; 
$grey: #bdbdbd;
$navy: #32406e; 
$navy_border: #1c243f; 
$blue: #7c98f5; 




a {
	text-decoration: none !important;
	color: #fff;
}


body {
	background-color: #e9e9e9;
	background-image: url(http://jackseabolt.com/backgrounddark.jpg);
}
h1, h2, h3, label {
	color: white;
}
p { 
	color: white !important; 
}
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.banner {
	width: 100%;
}
.break {
	margin-top: 10px !important;
	}
.control-label{
     color: white !important; // some color
}
.container {
	position:relative;
	min-height: 650px;
	margin-top:0px;
	margin-bottom:0px;
}
 .collapsed {
 	border: 0px; 
 }

 .card {
 	background-color: #363636;
 	padding: 20px;
 	margin-bottom: 30px;
 	border: 1px solid #393939;
 	h4 {
 		color: white;
 	}
 	p {
 		color: white;
 	}
 }
.col-sm-6:hover {
 	color: black !important;
 }
.cancel_link {
 	color: $dark_gray;
}
 
.cancel_link:hover {
 	color: $dark_gray !important;
 	text-decoration: none !important;
 	background-color: none !important;
}

 .card:hover {
 	color: black !important;
 }
 .card_image {
 	width: 100%;
 }
 .card-topper {
	overflow:hidden;
	max-height: 180px;
 }
 .dropdown-toggle {
	color: white !important;
 }
.date {
	color: #777777 !important;
	font-style: italic; 
}
.footer {
	width: 100%; 
	background-color: black;
	color: white;
	height: 170px;
	text-align: center;
	padding-top: 50px;
	margin-top: 30px;
	.copyright {
		font-size: 12px;
		margin-top: 30px;
		color: #888888 !important;
	}
	.link {
		font-size: 18px;
	}
}
.form_link { 
	color: black !important;
 }
 .form_link:hover { 
	color: black;
	background-color: none !important;
 }
.heavy {
 	font-weight: 900;
 	color: white;
 }
.headline_sub {
 	color: #a4a4a4;
 	text-align: center;
 }
.headline_title {
 	color: white;
 	font-size: 60px;
 	font-weight: 900;
 	text-align: center;
 }
.headline_container {
 	max-height: 500px;
 	overflow:hidden;
 }
.headline_img {
 	width: 100%;
 }
.hidden { 
	display: none; 
}
.icon-bar {
	background-color: white !important;
}
.light {
    font-weight: 100;
 }
.navbar-brand {
	color: white !important;
	font-size: 20px;
	margin-right: 10px;
}

.nav_link {
	color: white !important;
	font-size: 14px;
	font-weight: 100;
}
.nav_link:hover {
	color: $grey !important;
}
.navbar {
 	background-color: black;
 	border: 0px;
 	border-radius: 0px;
 	padding: 20px;
 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: black;
    border: 0px; 
}
.photo_small {
	width: 100px;
	height: 70px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.photo_div {
	background-color: none;
	overflow:auto; 
	margin-bottom: 30px;
}
.profile_picture {
	margin-top: 15px;
	width: 90%;
	border-radius: 50%;
}
.profile_content_right {
	text-align: right;
}
.jumbotron_custom {
 	overflow: hidden;
 	max-height: 300px;
}
.section_header {
	font-size: 30px;
	display: inline;
}
.section_subheader {
	color: $grey;
}
.show_link {
	color: #303b61 !important;
	background-color: transparent;
	text-decoration:underline !important;
}
.show_link:hover {
	color: #303b61;
	background-color: transparent;
}
.sidebar {
	background-color: #2f2f2f;
	padding: 20px;
	margin-bottom: 60px;
}
.sidebar2 {
	background-color: #363636;
	padding: 20px;
	margin-top: 40px;
}
.sidebarouter {
	margin-top: 168px;
}
.sidebar_header {
	color: white;
}
.sidebar_head_container {
	background-color: black;
	padding: 8px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
	top: -20px;
}

.social_container {
	width: 35px;
	height: 35px;
	background-color: #393939;
	border-radius: 17.5px;
	margin-top: 7px;
	margin-left: 10px;
}	
#social_facebook {
	margin-top: 8px;
	margin-left: 10px;
    color: white;
}
#social_twitter {
	margin-top: 8px;
	margin-left: 9px;
    color: white;
}
#social_google {
	margin-top: 8px;
	margin-left: 8px;
    color: white;
}
#social_pinterest {
	margin-top: 9px;
	margin-left: 11px;
    color: white;
}
.white_background {
	background: white;
}
.white {
	color: white !important;
}

.white:hover {
	background-color: transparent;
}
.white_green {
	color: white;
}

.white_green:hover {
	color: $blue;
}

@media screen and (max-width: 991px) {
	.sidebarouter {
			display: none !important;
		}

	.section_header {
		font-size: 25px;
	}
	.profile_content_right {
		text-align: left;
	}
	.profile_picture {
		margin-top: 15px;
		margin-bottom: 10px;
		width: 200px;
		border-radius: 50%;
	}
}


@media screen and (max-width: 767px) {
	
	.break {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
	}
	.card-topper {
		overflow:hidden;
		max-height: 350px;
	}
	.headline_title {
	 	color: white;
	 	font-size: 35px !important;
		line-height: 35px !important;
	 	font-weight: 900;
	 	text-align: center;
	 }

	.headline_sub {
		font-size: 20px !important;
		line-height: 20px !important;
	}
	.footer {
		height: 130px;
		.copyright {
			display: none;
		}
		.link {
			font-size: 16px;
		}
	  }
	 .navbar-brand {
		color: white !important;
		font-size: 20px;
	}
	.navbar {
	 	padding: 0px;
	 }
	.nav_link {
		color: white !important;
		font-size: 12px;
	}
	.section_header {
		font-size: 20px;
	}
	.social_container {
		display: none;
	}
	
}