<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='navbar-brand' href='/'>
      <span style="color: #7c98f5">Dem</span><span class='light'>Dissent</span>
    </a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <a href="/posts" class="nav_link">Home <span class="sr-only">(current)</span></a></li>
        <li> <%= link_to "Election 2016", pages_election2016_path, class: 'nav_link' %></li>
        <li><%= link_to "Policy", pages_policy_path, class: 'nav_link' %></li>
        <li><%= link_to "About", pages_about_path, class: 'nav_link' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_post_path, class: 'nav_link' %></li>
        <% end %>
      </ul>


      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>