<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='navbar-brand' href='/'>
      <span style="color: #7c98f5">Bay</span><span class='light'>Today</span>
    </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <a href="/posts" class="nav_link">Home <span class="sr-only">(current)</span></a></li>
        <li> <%= link_to "Election 2016", pages_election2016_path, class: 'nav_link' %></li>
        <li><%= link_to "Local", posts_local_path, class: 'nav_link' %></li>
        <li><%= link_to "About", pages_about_path, class: 'nav_link' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_post_path, class: 'nav_link' %></li>
        <% end %>
      </ul>
      <div class="pull-right social_container">
          <i class="fa fa-pinterest-p social_icons" id="social_pinterest" style="font-size: 19px;"></i>
      </div>
      <div class="pull-right social_container">
         <i class="fa fa-google-plus" id="social_google" style="font-size: 18px;"></i>
      </div>
      <div class="pull-right social_container">
        <i class="fa fa-twitter social_icons" id="social_twitter" style="font-size: 20px;"></i>
      </div>
      <div class="pull-right social_container">
           <i class="fa fa-facebook-f social_icons" id="social_facebook" style="font-size: 19px;"></i>
      </div>


      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>